<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">
    <script src="bootstrap/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <%-include('header.ejs')%>
        <div class="post">
            <%result.forEach(ite=>{%>
                <div class="file">
                    <img src="<%=ite.content%>" alt="">
                    <div class="box">
                        <div><a href="/like/<%=ite._id%>"><i class="bi bi-emoji-laughing"></i></a>
                            <p>
                                <%=ite.like%>
                            </p>
                        </div>
                        <div><a href="/dislike/<%=ite._id%>"><i class="bi bi-emoji-angry"></i></a>
                            <p>
                                <%=ite.dislike%>
                            </p>
                        </div>
                        <div><i class="bi bi-emoji-neutral"></i>
                            <p>10</p>
                        </div>
                    </div>
                    <%if(session=='tweme' ){%>
                        <div class="deletebtn"><a href="deletinge/<%=ite._id%>">Delete</a></div>
                        <%}%>
                </div>
                <%})%>
        </div>
        <div class="underpost">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa.
            Fusce
            posuere,
            magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros
            quis urna. Nunc
            viverra imperdiet enim. Fusce est.
        </div>
        </div>
        <%-include('footer.ejs')%>
</body>

</html>